/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  overflow: hidden;
}
.parent-wrapper {
  width: 2000px;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("./images/bacground.jpg");
  background-size: cover;
  background-position: center;
}

.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 200px auto;
  width: 100px;
  height: 150px;
  background-image: url("./images/masha.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-perspective: 2000px;
          perspective: 2000px;

}
.item {
  width: 50px;
  height: 150px;
  background-image: url("./images/wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;

}
.parent:hover > .item:nth-child(1) {
  -webkit-transform: rotateY(-120deg);
          transform: rotateY(-120deg);
}
.parent:hover > .item:nth-child(2) {

  -webkit-transform: rotateY(120deg);

          transform: rotateY(120deg);
}
.item:nth-child(1) {
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.item:nth-child(2) {
  -webkit-transform-origin: right center;
          transform-origin: right center;
}